# Code Practice 1

**Question 1**

In [1]:
2+5

7

In [2]:
2 + 5

7

In [3]:
2*5

10

In [4]:
2/5

0.4

In [5]:
2**5

32

**Question 2:** we first assign x = 7, then add 3 to x (=7) and assign the result (10) to x

In [6]:
x = 7

In [7]:
x = x + 3

In [8]:
x

10

**Question 3**: we first assign 3 to x, then x to y. At this point, x = y = 3. When we assign 10 to x, x takes the value of 10 
    but, not having reassigned x to y, y stays equal to x's previous value, i.e. 3.

In [10]:
x = 3

In [11]:
y = x

In [12]:
x = 10

In [13]:
y

3

**Question 4**: The code seems to run fine. x = 1.5 after the first two lines. z pastes together "abc" twice.

In [18]:
x = 3
x = x/2
y = 'abc'
z = y + y 
print(x, z)

1.5 abcabc

**Question 5:** z adds together a string and a number. This isn't allowed in Python.

In [19]:
x = 3
x = x/2
y = 'abc'
z = x + y
print (x, z)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

**Question 6:** The code works fine. It pastes together x, y and z using | as a separation between every variable.

In [20]:
x = 3
y = 24
z = y / x 
print(x,y,z, sep = ' | ')

3 | 24 | 8.0

**Question 7:** Using '' in y creates a string variable. z doesn't work because operations between strings and numbers aren't allowed.

In [21]:
x = 3
y = '24'
z = y / x
print(x,z)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

**Question 8:** # creates comments in code. The part in " is the only one included in the string. The code works fine.

In [22]:
x = "I am a #string" #Whoa, a string!

In [23]:
x

'I am a #string'

**Question 9:** z pastes together list x and list y

In [24]:
x = [1,2,3]
y = [42, 43]
z = x + y
print(z)

[1, 2, 3, 42, 43]

**Question 10:** z can paste lists together, not add integers to lists

In [25]:
x = [1,2,3]
y = 42
z = x + y

TypeError: can only concatenate list (not "int") to list

**Question 11:** x1 is an integer, x2 a float, x3 a string and both x4 and x5 are lists

In [26]:
x1 = 12
x2 = 12.0
x3 = '12.0'
x4 = [12]
x5 = [12, 12.0, '12.0']

In [29]:
whos

Variable   Type     Data/Info
-----------------------------
x          list     n=3
x1         int      12
x2         float    12.0
x3         str      12.0
x4         list     n=1
x5         list     n=3
y          int      42
z          list     n=5

**Question 12:**

In [30]:
type(42)

int

In [31]:
type(42.0)

float

42 is an integer. 42.0 is a float because of the decimal point

In [32]:
type('42.0')

str

In [35]:
type("42.0")

str

In [36]:
type("""42.0""")

str

all of the three above are strings. both ' and " and used to demarcate strings. a series of " like """" also creates strings

In [37]:
type([1,2])

list

In [38]:
type([1] + [2])

list

In [39]:
type(1+2)

int

[1,2] and [1] + [2] are lists. 1 + 2, however, is 3 and is a simple integer. the use of [], denoting lists, is what separates [1] + [2] from 1 + 2

In [40]:
type(print)

builtin_function_or_method

print is a function

**Question 13:** the way to read code is (like in math) from the innermost parenthesis to the outermost parenthesis. int('1234') turns '1234', a string, into an integer. Using string on this result turns the integer back into a string. The function float then turns this string into a float. Therefore, float(str(int('1234'))) is a float (which is the result type() gives us).

In [41]:
type(float(str(int('1234'))))

float

**Question 14 :** the reasoning is similar to the one used in question 13. float turns the string '12.34' into a float. Using int() on the resulting object forces it to be listed as an integer, despite its decimal point.

In [43]:
type(int(float('12.34')))

int

**Question 15 :** the first object is a list, so the length assesses the number of objects in the list. There is only one object in the list, so the length is 1.
The second object is a string. Length counts the number of characters in the string, so the result is 4.
The third object is an integer. Length doesn't work with integers.

In [45]:
len([1234])

1

In [46]:
len("1234")

4

In [48]:
len(1234)

TypeError: object of type 'int' has no len()

**Question 16:** x is an empty list, therefore its type is list and its length is 0 or NULL (hence the error message).

In [49]:
x = []

In [50]:
type(x)

list

In [1]:
len(x)

NameError: name 'x' is not defined

**Question 17**

In [2]:
x = 'abcde'

In [3]:
y = list(x)
print(y)

['a', 'b', 'c', 'd', 'e']

In [4]:
type(y)

list

**Question 18:**

In [16]:
x = 1234

In [64]:
float(x)
type(float(x))

float

In [5]:
str(x)
type(str(x))

str

In [17]:
y = list(str(x))
type(y)
y

['1', '2', '3', '4']

**Question 19:** we find an appropriate method using tab completion

In [28]:
x = "luke i am your father"
x.title()

'Luke I Am Your Father'

**Question 20:**

In [30]:
x = "How many characters and words are in this string?"

In [32]:
len(x)

49

In [36]:
x = list(x)

In [38]:
x = "How many characters and words are in this string?"
x.rsplit()

['How', 'many', 'characters', 'and', 'words', 'are', 'in', 'this', 'string?']

In [40]:
len(x.rsplit())

9