# Code Practice 2 - Ines Ajimi

**Question 1:**

In [4]:
x = [1, 2, 3]
print(x)

[1, 2, 3]

The code above runs without errors. It produces a list.

In [5]:
y = 'bootcamp'

The code above runs without errors. It produces a string.

In [3]:
z = x + y

TypeError: can only concatenate list (not "str") to list

The code above does not work, because only lists can be added to other lists and y is a string.

**Question 2**

In [8]:
print(type(x), type(y))

<class 'list'> <class 'str'>

In [12]:
len(x)

3

In [13]:
len(y)

8

type() tells us what type of object they are, len() gives us the number of elements they contain.

**Question 3:** 2 is an integer, '2' is a string, 2.0 is a float, "2.0" is a string, 2 > 1 and 'itamar' > 'chase' are logical/Boolean tests, [1,2] is a list, (1,2) is a tuple, and the last object is a dictionary.

**Question 4**

In [22]:
x = 1 >= 0
y = 1 >= 1
z = 1 > 1
q = 1 == 1
w = 1 == 1.0
e = 'Spencer' == "Spencer"
r = 2**3 > 3 **2
t = 1 >= 0 or 1 <= 2
y = 1 >= 0 and 1 <= 2
print(x,y,z,q,w,e,r,t,y)

True True False True True True False True True

**Question 5**: No, we get an error message. There should be an : after the if statement.

In [23]:
if 2 > 1
print ('yes, 2 is still greater than 1')

SyntaxError: invalid syntax (<ipython-input-23-9e8c1874597b>, line 1)

In [34]:
if 2 > 1:
    print ('yes, 2 is still greater than 1')

yes, 2 is still greater than 1

**Question 6:** the code runs following the assumption that the first condition is true. not true gives us the same result as false

In [31]:
if True:
    print('one the one hand')
else: 
        print('but on the other hand')

one the one hand

In [30]:
if False:
    print('one the one hand')
else: 
        print('but on the other hand')

but on the other hand

In [32]:
if not True:
    print('one the one hand')
else: 
        print('but on the other hand')

but on the other hand

**Question 7:** the code will return Chase

In [35]:
cond = True
if cond:
    x = "Chase"
else:
    x = "Dave"
print(x)

Chase

**Question 8:**

In [38]:
x = [1,2,3,4]
y = ['x', 'y', 'z']

if len(x) > len (y):
    print ("x has more")
else: 
    ("y has at least as many")

x has more

**Question 9:** slicing allows us to pick elements from strings, lists, tuples, etc

**Question 10:**

In [9]:
x = [1,2,3,4,5]

In [42]:
x[0]

1

In [44]:
x[4]

5

In [121]:
x[-1] #another method for the above

5

In [10]:
x[0:4]

[1, 2, 3, 4]

**Question 11:**

In [1]:
sentence = 'This is a sentence: please slice it.'

In [ ]:
#Brute force method
sentence[0:4] + " " + sentence[5:7] + " " + sentence[8]+ " " +  sentence[10:18]+ " " + sentence[20:26] + " " +  sentence[27:32] + " " +  sentence[33:35]

**Question 12:**

In [129]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
x

[1, 2, 'a', 'b', 'fast', 'slow', 3, 'Raghu', 'Liuren', 10]

In [130]:
len(x)

10

In [131]:
x[1:10] #slicing out the first item by selecting everything else

[2, 'a', 'b', 'fast', 'slow', 3, 'Raghu', 'Liuren', 10]

In [133]:
x[0:9] #slicing out the last item by selecting everything else

[1, 2, 'a', 'b', 'fast', 'slow', 3, 'Raghu', 'Liuren']

In [135]:
x[0:3]+x[7:10]

[1, 2, 'a', 'Raghu', 'Liuren', 10]

**Question 13:**

In [173]:
x = [1, 2, "a", 'b', "fast", 'slow', 3, "Raghu", 'Liuren', 10]
x

[1, 2, 'a', 'b', 'fast', 'slow', 3, 'Raghu', 'Liuren', 10]

In [175]:
for i in x:
    print(i, sep = "\n")

1
2
a
b
fast
slow
3
Raghu
Liuren
10

In [196]:
x = [1, 2, 'a', 'b', 'fast', 'slow', 3, 'Raghu', 'Liuren', 10]
    
for i in x:
    if type(i) == str:
        print(i, sep = "\n")

a
b
fast
slow
Raghu
Liuren

**Question 15:** range creates a range of numbers. range(3,12,2) creates numbers from 3 to 12 with a step of 2, i.e. 3, 5, 7, 9, 11

In [209]:
range(3, 12, 2)

range(3, 12, 2)

In [210]:
list(range(3,12,2))

[3, 5, 7, 9, 11]

**Question 16:**

In [30]:
my_first_range = list(range(3, 31, 3))
print(my_first_range)

sum(my_first_range)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

165

In [31]:
my_first_range = list(range(3, 31, 3))
total = 0

for i in my_first_range :
    total = i + total

total

165

In [34]:
my_first_range = list(range(3, 10000, 3))
total = 0

for i in my_first_range :
    total = i + total
    
    if i > 29: #since we start the range at 3 
        break
    

total

165

**Question 17:**

In [20]:
def pocket_change(pennies, nickels, dimes, quarters):
    change = float(0.25* quarters + 0.1 * dimes + 0.05 * nickels + 0.01 * pennies)
    change = format(change, '.2f') #found on stack overflow
    print('$', change)

In [21]:
pocket_change(1,2,3,4)

$ 1.41

**Question 18:**

In [63]:
x = []
some_integers = [1234, 6783, 6, 4321]

def notsix(some_integers): 
    for i in some_integers:
        if str(i)[0] != "6":
            x.append(i)          

notsix(some_integers)
x

[1234, 4321]

Using the question after as a hint.

**Question 19:** creates a new list made up of every element in the old list as long as that first element does not start with 6.
Integers can't be spliced, so the condition (if str(x)[0] != "6") is tested by turning the element into a string.

In [64]:
old_list = [1234, 6783, 6, 4321, 9876]
new_list = [x for x in old_list if str(x)[0] != "6"]

**Question 20:**

In [66]:
z = {1: 'one', 2: 'two', 3: 'three'}
print(type(z), len(z))

<class 'dict'> 3

z is a dictionary of length 3.

In [75]:
z[2] #returns the value associated to the key 2

'two'

In [68]:
?z.keys

In [70]:
z.keys()

dict_keys([1, 2, 3])

In [71]:
?z.values

In [72]:
z.values()

dict_values(['one', 'two', 'three'])

z.keys() returns all of the keys of the dictionary, while z.values() returns its values.

In [73]:
list(z.keys())

[1, 2, 3]

In [74]:
list(z.values())

['one', 'two', 'three']

list(z.keys()) and list(z.values()) create *lists* out of the dictionary's keys and values respectively.

In [76]:
list(z)

[1, 2, 3]

list(z) returns the same thing as z.keys.

**Question 21:** https://github.com/IAjimi/my_first_repository/blob/master/time_for_practice2.csv